@use "base/variables" as v;

.text-center {
  text-align: center;
}

.bg-primario {
  color: v.$primario;
}

.bg-white {
  background-color: v.$blanco;
}

.margin-negativo-10 {
  margin-top: -10rem;
}